<p>
  viewchild works!
</p>
<!-- <div class="alert alert-success">
  <strong>Success!</strong> You should <a href="#" class="alert-link">read this message</a>.
</div>
<div class="alert alert-info">
  <strong>Info!</strong> You should <a href="#" class="alert-link">read this message</a>.
</div>
<div class="alert alert-warning">
  <strong>Warning!</strong> You should <a href="#" class="alert-link">read this message</a>.
</div>
<div class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Danger!</strong> You should <a href="#" class="alert-link">read this message</a>.
</div>
 -->

<button (click)="decrease()">Descrebe</button>
<button (click)="increase()">increase</button>

<br>

<app-counter></app-counter>